:root{
    --color-blanco:#f6f3f3;
    --color-negro:#0d0d0d;
}

body{
    background-color: var(--color-negro);
    color: var(--color-blanco);
}

hr{
    background-color: var(--color-blanco);
    width: 69vw;
    height: 5px;
}

.tx-white{
    color: var(--color-blanco);
}

#contenedor1{        
    margin-top: 3vw;
}

#intro h1{
    text-decoration: underline;
}

#intro{
    text-align: center;
}

#fotoPerfil,
#redes{
    display: flex;
    justify-content: center;
}

#redes img{
    padding: 1%;
}

.separador{
    display: flex;
    justify-content: center;
    margin-right: 2%;
}

#separador1 h3{
    margin-left: 2%;
}

#separador2 hr{
    margin-left: 2%;
}

#informacion,
#fotoCodigo,
#tecnologias{
    text-align: center;
    margin-top: 5%;
}
#descripcionCarrusel{
    text-align: center;
    margin-top: 2.5%;
}

@media only screen and (min-width: 1024px) {
    #contenedor1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 2fr 0.5fr;
    }
    #intro{
        grid-column: 1;
        grid-row: 1;
    }
    #imagenPerfil{
        content: url("../img/perfil2.JPG");
    }
    #fotoPerfil{
        grid-column: 2;
        grid-row:1/ span 2;
    }
    #redes img{
        width:10%;
        height: 45%;

    }
    #redes{
        grid-column: 1;
        grid-row: 2;
    }

    #contenedor2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr;
    }
    #informacion{
        grid-column:2;
        grid-row:1;
    }
    #fotoCodigo{
        grid-column:1;
        grid-row: 1/ span 2;
    }

    #tecnologias{
        grid-column: 2;
        grid-row:2;
    }

    #subContenedor{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    #front{
        grid-column: 1;
        grid-row:1;
    }
    #back{
        grid-column: 2;
        grid-row:2;
    }
    #frameworks{
        grid-column: 1;
        grid-row:3;
    }
}